body {
    background-image: url(Passengercountimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    linear-gradient:rgba(0, 0, 0, 0.7);
}

h1 {
    color: #f2f2f2;
    padding:10%;
    margin-left: 30%;
    
}

h2 {
    color: #f2f2f2;
    margin-left: 45%;
    font-size: 50px;
}

Button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-left: 660px;
}

#increment-btn {
    background: darkred;
}